<% @products.each do |product| %>
	<div class="search_result">
		<% unless product.photos.first.nil? %>
			<%= image_tag(product.photos.first.image_url(:thumb), :class => 'fr') %>
		<% end %>
		<h2><%= product.name %></h2>
		<p><%= product.description %></p>
	</div>
<% end %>