$("#result").html(<div class="notice"><%= escape_javascript(flash.delete(:notice)) %></div>);

$("#contact_message_email").val('');
$("#contact_message_name").val('');
$("#contact_message_body").val('');