<% title "Sweadmin | Kategorier" %>

<% form_for :category, :url => { :action => :destroy_multiple } do %>
	<div class="block">
		<div class="block-head">
			<h2>Kategorier</h2>
		</div>
		<div class="block-content">
			<table id="doTree">
				<thead>
					<th class="checkbox"></th>
					<th>Benämning</th>
					<th>Beskrivning</th>
					<th>Åtgärder</th>
				</thead>
				<tbody>
					<%= nested_categories @categories %>
				</tbody>
			</table>
			<div class="form_buttons">
				<%= link_to "Ny kategori", new_admin_category_path, :class => "button" %>
				<%= submit_tag "Ta bort valda", :class => "bulk_delete" %>
			</div>
		</div>
	</div>
<% end %>