<% title "Sweadmin | Kategorier" %>

	<div class="block">
		<div class="block-head">
			<h2>Kategorier</h2>
		</div>
		<div class="block-content">
			<table id="doTree">
				<thead>
					<th>Benämning</th>
					<th>Beskrivning</th>
					<th>Åtgärder</th>
				</thead>
				<tbody>
					<%= nested_categories @categories %>
				</tbody>
			</table>
			<div class="form_buttons">
				<%= link_to "Ny kategori", new_admin_category_path, :class => "button" %>
			</div>
		</div>
	</div>