<% semantic_form_for edit_multiple_admin_category_products_path, :method => :put do %>
	<% for product in @products %>
		<% semantic_fields_for "products[]", product do |f| %>
			<h2><%=h product.name %></h2>
			<%= render 'fields', :f => f %>
		<% end %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button %>
	<% end %>
<% end %>