<div class="block">
	<div class="block-head">
		<h2>New product</h2>
	</div>
	<div class="block-content">
		<%= render 'form' %>
	</div>
</div>
<p><%= link_to 'Back', admin_category_products_path %></p>