<% content_for :title, "Sweadmin | Ny produkt för #{@category.name}"%>
<div class="block">
	<div class="block-head">
		<h2>Ny produkt för <%= @category.name %></h2>
	</div>
	<div class="block-content">
		<%= render 'create_form' %>
	</div>
</div>
<p><%= link_to 'Back', admin_category_products_path %></p>